.AddFileModalContainer{
    padding:20px 0;
}
.AddFileModalInputs{
    display: flex;
    justify-content: center;
}
.AddFileModalInput{
    width:60%;
    padding:5px 5px;
    background-color:#1e1e1e;
    border:none;
    color:#ffffff;
    outline: none;
    border-radius:5px;
    font-size:1.2rem;
}
.AddFileModalButton{
    background-color:#1e1e1e;
    border:none;
    color:#ffffff;
    margin-left:10px;
    padding:5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}