.code {
	height: calc( 100% - 70px );
	height: -webkit-calc( 100% - 70px );
	width: 80%;
	/* width: -webkit-calc( 100% - 340px ); */
	background: #fafafa;
	color: #A0A0A0;	
	text-shadow: 2px 2px 0 rgba(0,0,0,.01);
	box-shadow: inset 37px 0 0 rgba(0,0,0,.06);
	user-select: text;
	-webkit-user-select: text;
	outline: none;
	overflow: hidden;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}