
@import "https://fonts.googleapis.com/css2?family=Raleway&display=swap";

body {
	margin: 0;
	padding: 0;
	background: #32353D;
	font-family: 'Raleway', 'Ionicons', sans-serif;
	user-select: none;
	-webkit-user-select: none;
}
ul{
	padding:0;
	margin:0;
}
.EditorContainer{
	height:100vh;
	overflow:hidden;
}

::selection { background: rgba(95,191,249,.4); }

a {
	text-decoration: none;
	color: inherit;
}


n{ 
  	counter-increment: step-counter;
  	position : relative;
  	min-height : 1em;
	display: block;
}
n::before {
    content: counter(step-counter);
	user-select: none;
	-webkit-user-select: none;
    color : #888;
    position : absolute;
    left : -40px;
    width : 32px;
	padding-right: 5px;
    text-align : right;
}
n.current::before {background: rgba(0,0,0,.07);}
n.current{background: rgba(0,0,0,.07); box-shadow: -3px 0 0 rgba(0,0,0,.07);}

i {color:#A0A0A0;font-style:normal;}
b {font-weight:normal;}
c {color:#5FBFF9;}
bc, ac, pr, cm {color:#B0B0B0;margin-left:1px;}
cmm {color:#B0B0B0;margin-left:20px;}
v {color:#BD93D8;margin-left:20px;} vn {color:#BD93D8;}
rgba, rgb, calc, hex, f, src, val {color:#F2AE60;}
cf, num, content {color:#7DC687}
.code a {color:#fff;font-size:13px;background:#5FBFF9;padding: 2px 8px;text-decoration:none;border-radius:3px;transition:all .15s ease;-webkit-transition:all .15s ease;}
.code a:hover {color:#5FBFF9;background:#fff;box-shadow:0 0 0 1px #5FBFF9,0 -2px 5px rgba(0, 0, 0, 0.05),0 5px 10px rgba(0, 0, 0, 0.05);}

cursor {
	font-weight: bold;
	margin-left: 2px;
	color: #666;
	text-shadow: none;
	user-select: none;
	-webkit-user-select: none;
	animation: cursor .7s ease infinite;
	-webkit-animation: cursor .7s ease infinite;
	-moz-animation: cursor .7s ease infinite;
	-o-animation: cursor .7s ease infinite;
}

@keyframes cursor {0%,100%{opacity: 0}50%{opacity: 1}}
@-webkit-keyframes cursor {0%,100%{opacity: 0}50%{opacity: 1}}
@-moz-keyframes cursor {0%,100%{opacity: 0}50%{opacity: 1}}
@-o-keyframes cursor {0%,100%{opacity: 0}50%{opacity: 1}}

.message {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,3,11,.7);
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	transition: all .2s cubic-bezier(.67,.13,.1,.81);
}
.message:target {
	opacity: 1;
	visibility: visible;
}

.closeMessage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: default;
}

.notification {
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 290px);
	height: 200px;
	width: 580px;
	background: #fff;
	color: #777;
	border-radius: 5px;
	visibility: hidden;
	transform: scale(.9);
	opacity: 0;
	overflow: hidden;
	transition: all .3s cubic-bezier(.67,.13,.1,.81);
}
.message:target .notification {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
}
.notification span {
	position: absolute;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #e1e1e1;
	color: #888;
	box-shadow: inset 0 -1px 0 #d6d6d6;
	text-indent: 20px;
	font-weight: bolder;
}
.notification p {
	position: absolute;
	width: calc(100% - 40px);
	height: auto;
	top: 50px;
	left: 20px;
	
}
.notification a {
	position: absolute;
	bottom: 10px;
	width: auto;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	background: #5FBFF9;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	padding: 0 15px;
	transition: top .5s cubic-bezier(.67,.13,.1,.81);
}
.notification a.dontsave:hover, .notification a.cancel:hover {
	background: #f5f5f5;
	color: #a1a1a1;
}
.notification a.save {
	right: 100px;
}
.notification a.cancel {
	right: 10px;
	box-shadow: none;
	color: #aaa;
	background: none;
	box-shadow: 0 0 0 1px #e1e1e1;
}
.notification a.dontsave {
	left: 10px;
	box-shadow: none;
	color: #aaa;
	background: none;
	box-shadow: 0 0 0 1px #e1e1e1;
}

.error {
	position: fixed;
	bottom: 20px;
	right: -280px;
	width: 240px;
	height: auto;
	background: #E87460;
	color: #fff;
	z-index: 100;
	text-decoration: none;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	transition: all .2s cubic-bezier(.67,0,.2,1);
	transition-delay: 0s;
}
.error:target {
	right: 20px;
	outline: none;
	transition-delay: 1s;
}
