.menu {
	width: 100%;
	height: calc( 100% - 32px );
	height: -webkit-calc( 100% - 32px );
	padding-top: 2px;
	background: #32353D;
	/* box-shadow: inset 0 2px 0 rgba(255,255,255,.05), inset 0 1px 0 rgba(0,0,0,.4); */
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}
.MenuFilesContainer{
	/* margin-top:5px; */
	/* box-shadow: inset 0 -2px 0 rgba(255,255,255,.05), inset 0 -1px 0 rgba(0,0,0,.4); Bottom Shadow */
	padding-bottom:5px;
}
.menu span {
	display: block;
	padding: 7px 10px 7px 22px;
	color: #fafafa;
	font-size: 15px;
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.05), inset 0 -2px 0 rgba(0,0,0,.1);
}
.menu a {
	display: block;
	padding: 10px 10px 10px 15px;
	text-decoration: none;
	color: rgba(255,255,255,.5);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.05), inset 0 -2px 0 rgba(0,0,0,.1);
	transition: all .08s ease;
	-webkit-transition: all .08s ease;
	cursor:pointer;
}
.menu a:hover {
	color: rgba(255,255,255,.7);
	background: rgba(0,0,0,.08);
}
.menu a b {
	font-weight: normal;
	color: rgba(100,104,106,1);
}
.menu a.current {
	background: rgba(0,0,0,.08);
	color: rgba(255,255,255,.9);
}
.menu a.save {
	background: rgba(0,0,0,.08);
	color: rgba(255,255,255,.9);
}
.menu a.addFile {
	text-align: center;
	padding: 0;
	line-height: 35px;
	margin: 10px 30px;
	border-radius: 100px;
	box-shadow: none;
	background: rgba(0,0,0,.1);
	font-size:2rem;
	transition:0.5 linear;
}
.menu a.addFile:hover {
	color: rgba(255,255,255,);
	background: #5FBFF9;
}
.menu a::after {
	content: "\f406";
	position: absolute;
	right: 15px;
	font-size: 28px;
	line-height: 23px;
	color: rgba(255,255,255,.3);
	text-shadow: 2px 2px 0 rgba(0,0,0,.3);
	opacity: 0;
}

.MenuLogo{
    width:80%;
    padding:10px 10%;
    min-height:40px;
	text-align:center;
	box-shadow: inset 0 -2px 0 rgba(255,255,255,.05), inset 0 -1px 0 rgba(0,0,0,.4); /*Bottom Shadow*/
}
.MenuLogo img{
	max-width:90%;
	margin:5px auto;
}
.MenuItemPanes{
	display: flex;
	flex-direction: row;
	width:100%;
}
.MenuItemFilePane{
	flex-grow: 2;
}
.MenuItemIconPane{
	/* justify-content: flex-end; */
}
.MenuLoading{
	width:100%;
	font-size:2rem;
	color:#f3f3f4;
	opacity: 0.6;
	text-align: center;
}